<h1><%= @noun.name %></h1>
<p><%= @noun.definition %></p>

<a href="/nouns/<%= @noun.id %>/edit">Edit noun</a>

<!-- <a href="/nouns/<%= @noun.id %>">Delete noun</a> -->

<form action="/nouns/<%= @noun.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete noun" />
</form>